/*------------------general------------*/
body{
   font-family: 'sky', sans-serif;
}
.white-font{
  color: #fff;
}
.primary-font{
  color: #222;
}
.secondary-font{
  color: #333;
}
.red-font{
  color: #94383D;
}
.fontweight-9{
  font-weight: 900;
}
.red-color{
  background-color: #94383D;
}
.mute-color{
  background-color: #eee;
}
.white-color{
  background-color: #fff;
}
.yellow-font{
  color: #DFAB00;
}
.fontsize-8{
  font-size: 8px;
}
.fontsize-12{
  font-size: 12px;
}
.fontsize-13{
  font-size: 13px;
}
.fontsize-14{
  font-size: 14px;
}
.fontsize-15{
  font-size: 15px;
}
.fontsize-16{
  font-size: 16px;
}
.fontsize-17{
  font-size: 17px;
}
.fontsize-18{
  font-size: 18px;
}
.fontsize-20{
  font-size: 20px;
}
.fontsize-22{
  font-size: 22px;
}
.fontsize-26{
  font-size: 26px;
}
.fontsize-29{
  font-size: 29px;
}
p{
  line-height: 1.7;
}
.top-block{
  background-color: #94383D;
  height: 5px;
  width: 100%;
}
.date-block{
  background-color: #94383D;
  height: 26px;
  border-radius: 0px 0px 6px 6px;
}
.header-section {
  background-image: url(../img/header-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-logo img{
  width: 50%;
}
.sign-btn{
  border:2px solid #94383D;
  background-color: #fff;
}
.sign-btn a{
  color: #222;
  text-decoration: none;
}
.avatar{
  width: 45px;
  height: 45px;
  border-radius: 32px;
}
nav.navbar{
  background-color: #94383D;
}
.navbar .navbar-collapse .navbar-nav .nav-link{
  color: #fff;
}
.navbar .dropdown .dropdown-menu{
  padding: 0px;
  margin: 0px;
  border-radius: 4px;
}
.navbar .dropdown .dropdown-menu .dropdown-item{
  padding: 0.5rem 0.75rem;
}
.navbar .dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #94383D;
}
.navbar .dropdown .dropdown-menu .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #94383D;
}
.navbar-toggler{
  background-color: #FBF6EC;
  border: 1px solid #FBF6EC;
  padding: 3px 10px;
}
.navbar-toggler-icon{
  color: #94383D;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu a::after {
  transform: rotate(90deg);
  position: absolute;
  left: 6px;
  top: .8em;
}
.dropdown-submenu .dropdown-menu {
  top: 0;
  right: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}
.form-control{
  font-size: 14px;
}
footer{
  background-color: #94383D;
}
.white-logo img{
    width: 70%;
}
.list-inline-item:last-child{
    margin-left: .5rem;
}
.list-inline-item:last-child{
    margin-right: .5rem;
}
.footer-line{
  background-color: #F7F5F0;
}
#accura-link{
  color: #FBF6EC;
}
.footer-links li a:hover{
  color: #fff;
  text-decoration: none;
}
.company-name{
  text-align: left;
}
a:focus, .btn:focus {
  box-shadow: none !important;
}
a:hover {
    color: 333;
    text-decoration: none;
}
.form-control:focus{
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da !important;
  box-shadow: none !important;
}
/*----------------Home---------------*/
.slider-section img{
  height: 600px;
}
.slider-section .carousel-control-next {
    right: 85%;
}
.readMore-btn{
  background-color: #94383D;
  height: 50px;
  width: 160px;
  color: #fff;
  font-size: 16px;
  font-family: 'sky', sans-serif;
  border-radius: 4px;
  line-height: 37px;
}
.readMore-sm-btn{
  background-color: #94383D;
  height: 36px;
  width: 80px;
  color: #fff;
  font-size: 16px;
  font-family: 'sky', sans-serif;
  border-radius: 3px;
  line-height: 24px;
}
.readMore-btn:hover, .readMore-sm-btn:hover{
  color: #FBF6EC;
}
.about-us{
  background-image: url(../img/islamic-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-us img{
    max-width: 100%;
}
.news-section, .contact-section, .advisory-section{
  background-color: #fffbf4;
}
.news, .advisory{
  background-image: url(../img/card-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  padding: 25px 30px;
  -webkit-box-shadow: 0px 1px 20px 0px rgba(227,226,223,1);
  -moz-box-shadow: 0px 1px 20px 0px rgba(227,226,223,1);
  box-shadow: 0px 1px 20px 0px rgba(227,226,223,1);
}
.news .carousel-indicators{
  bottom: -25px;
}
.news .slider-body{
  display: block;
  height: 70px;
  overflow: hidden;
}
.comptitions .project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.comptitions .project-tab #tabs h6.section-title{
    color: #eee;
}
.comptitions .project-tab #tabs .nav-tabs .nav-item.show .nav-link, .comptitions .nav-tabs .nav-link.active {
    color: #94383D;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}
.comptitions .project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #333;
    font-size: 16px;
    font-weight: 600;
}
.comptitions .project-tab .nav-link:hover {
    border: none;
}
.comptitions .project-tab thead{
    background: #f3f3f3;
    color: #333;
}
.comptitions .project-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}
.nav-tabs{
  border-bottom: none;
}
.prev-comptitions .prev-img, .footer-logo{
  width: 100%;
}
.advisory .nav .nav-item a{
  color: #333;
  display: block;
  padding: 8px 4px;
  height: 34px;
  overflow: hidden;
}
.fa-hand-point-left{
  color: #94383D;
}
.about-us, .news-section, .comptitions, .advisory-section, .prev-comptitions, .contact-section{
  padding-top: 80px;
  padding-bottom: 100px;
}
/*-----------------p.p & T.C----------------------*/
.pp-section .content-body{
  border-radius: 6px;
  padding: 25px 30px;
  -webkit-box-shadow: 0px 1px 20px 0px rgba(227,226,223,1);
  -moz-box-shadow: 0px 1px 20px 0px rgba(227,226,223,1);
  box-shadow: 0px 1px 20px 0px rgba(227,226,223,1);
}
.navigationBar, .contact-info {
    width: 100%;
    border-radius: 4px;
    background-color: #EEEEEE;
    padding: 12px;
}
/*------------------------------------home--------------------------------*/
.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: [col1-start] 25%  [col2-start] 25%  [col3-start] 25% [col4-start] 25% [col4-end];
    grid-template-rows: [row1-start] 30% [row2-start] 30% [row3-start] 30% [row3-end];
    background-color: #fff;
    color: #444;
  }

  .box {
      background-color: #777;
  }

  .a {
      grid-column: col1-start / col3-start;
      grid-row: row1-start ;
  }
  .b {
      grid-column: col3-start ;
      grid-row: row1-start ;
  }
  .c {
      grid-column: col4-start ;
      grid-row: row1-start;
  }
  .d {
    grid-column: col1-start;
    grid-row: row2-start ;
  }
  .e {
      grid-column: col2-start / col4-start;
      grid-row: row2-start / row3-end;
  }
  .f {
      grid-column: col4-start ;
      grid-row: row2-start / row3-end;
  }
/*-----------------------site news---------------------*/
.siteNews-section .news-img{
  width: 100%;
}
.siteNews-card{
  border: none;
  -webkit-box-shadow: 0px 1px 6px 3px rgba(219,219,219,0.36);
  -moz-box-shadow: 0px 1px 6px 3px rgba(219,219,219,0.36);
  box-shadow: 0px 1px 6px 3px rgba(219,219,219,0.36);
}
/*------------------------details-section----------------*/
.details-section .article, .aboutUs .card{
  border-radius: 6px;
  border: none;
  padding: 20px 15px;
  -webkit-box-shadow: 0px 1px 6px 3px rgba(219,219,219,0.36);
  -moz-box-shadow: 0px 1px 6px 3px rgba(219,219,219,0.36);
  box-shadow: 0px 1px 6px 3px rgba(219,219,219,0.36);
}
.details-section .article-title{
  line-height: 1.5;
}
/*----------------------prevAlbum-section & prevAlbum-section-pics----------------*/
.prev-album .prev-album-img img, .prevAlbum-pics-section .prev-album-img img{
  width: 100%;
}
.prev-album{
  -webkit-box-shadow: 0px 2px 8px 1px rgba(230,230,230,1);
  -moz-box-shadow: 0px 2px 8px 1px rgba(230,230,230,1);
  box-shadow: 0px 2px 8px 1px rgba(230,230,230,1);
}
.prevAlbum-pics-section .example-image{
  width: 100%;
}
/*----------------quran & audioes------------------------- */
.quran-section .list-title, .quran-section .list-items, .audioes-section .list-title,
.audioLibrary-section .list-title, .audioLibrary-section .list-items{
  border-radius: 4px;
}
.quran-section .list-items, .audioes-section .list-items{
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.16);
}
.quran-section .modal .modal-content, .advisories-section .modal .modal-content{
  border-radius: 7px!important;
}
.audioes-section .list-items span, .audioes-section .list-items span,
 .audioLibrary-section .list-items span{
  display: block;
  height: 20px;
  overflow: hidden;
}
/*----------------------video dtails & audio details-----------------*/
.article {
    border: 2px solid #94383D;
    margin: auto;
    border-radius: 2px;
}
.article-audio audio {
    width: 100%;
}
/*-------------------------video library & audio library----------------------*/
.audioLibrary-section .carousal-image img, .videoLibrary-section .carousal-image img{
  border-radius: 2px;
  width: 100%;
}
.audioLibrary-section .carousel-control-next, .videoLibrary-section .carousel-control-next {
	right: 100%;
}
.audioLibrary-section .carousal-image:hover, .videoLibrary-section .carousal-image:hover,
.audioLibrary-section .controller a, .videoLibrary-section .controller a{
  text-decoration: none;
  color: #94383D;
}
.videoLibrary-section .video-title, .audioLibrary-section .audio-title{
  display: inline;
  border-radius: 4px 4px 0 0;
}
/*-----------------signup/login & competition-----------------*/
.sign-section{
  padding-top: 80px;
  padding-bottom: 80px;
}
.sign-section .tab-content, .compitition-section .compitition-form, .competition-terms, .competitionAwards{
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.16);
}
.sign-section .tab-content{
  padding: 70px 40px 30px 40px;
}
.sign-section .nav-tabs{
  border-radius: 4px;
  padding: 10px;
  position: absolute;
  margin-top: -20px;
}
.sign-section .nav-tabs .nav-link:hover{
  border-color: #94383D;
}
.sign-section .nav-tabs .nav-link.active{
  color: #ffffff;
  background-color: #6E2A2D;
  border-color: #6E2A2D;
}
.sign-section .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-radius: 4px;
}
.sign-section .nav-tabs li a:hover{
  color: #fff;
}
.compitition-section .compitition-form{
  padding: 40px 20px;
}
.competition-terms{
  padding: 40px;
}
.competitionAwards .competitionAwards-header{
  background-color: #eee;
  border-radius: 6px 6px 0 0;
}
.comptition-apologize{
  height: 400px;
}
/*--------------------------------profile-section------------------------*/
.profile-section .list-group .user-img{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid #FFf;
}
.profile-section .list-group-item{
  padding: 20px 15px;
}
.profile-section .list-group-item{
  background-color: #94383D;
  border-color: #94383D;
}
.profile-section .list-group-item.active, .profile-section .list-group-item.hover{
  background-color: #823237;
  border-color: #823237;
}
.profile-section .list-group-item-action{
  color: #fff;
}
.profile-section .tab-content .tab-pane{
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.16);
}
.choose-file {
  width: 80px;
  height: 60px;
  border-radius: 3px;
  background-color: #eee;
}
.choose-file input {
  display: none;
}
.choose-file i {
  color: #fff;
  font-size: 30px;
  padding-top: 32px;
}
/*------------------------------media queries---------------------------*/
@media  screen and (max-width: 1200px){
.header-logo img{
  width: 55% !important;
 }
  .white-logo img{
    width: 70%;
 }
 .levels{
     margin-top: 5px;
 }
}
@media  screen and (max-width: 992px){
.header-logo img{
  width: 70% !important;
 }
 .white-logo img{
    width: 90%;
}
 .news .slider-body {
    display: block;
    height: 100px;
    overflow: hidden;
 }
 .social-links .list-inline .list-inline-item{
    margin-right: 0rem !important;
}
}
@media  screen and (max-width: 768px){
.header-logo img{
  width: 50% !important;
 }
 .header-logo{
    text-align: center !important; 
 }
 .white-logo img{
    width: 50%;
 }
 .date-block, .sign-block .sign-btn, .signed ul li{
     margin: auto !important;
 }
 .white-logo{
    text-align: center;
 }
.copyrights-block .col-md-6 p, .footer-links-titile, .footer-links, .social-links h4, .social-links ul
{
    text-align: center !important;
 }
 .list-inline-item:first-child{
    margin-right: 0;
 }
  .levels{
     margin-top: 0px;
 }
}
@media screen and (max-width: 576px){
.copyrights-block .col-md-6 p, .footer-links-titile, .footer-links, .social-links h4, .social-links ul
{
    text-align: center !important;
 }
  .header-logo{
    text-align: center !important; 
 }
  .white-logo{
    text-align: center;
 }
 .sign-block, .signed ul li{
    margin-bottom: 10px!important;
 }
  .levels{
     margin-top: 0px;
 }
}
.current-user-nav{
    background-color: rgba(240, 225, 147, 0.56);
    border-radius: 21px;
}
}